<div class="container">
	
	<nav class="navbar navbar-expand-sm  bg-warning">
        <a class="navbar-brand" href="#">NG Str Cnvrtr </a>

        <div class=" navbar-nav ml-auto" id="navbarSupportedContent">
            <div class="btn-group">
                <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Text String Convrsions
                </button>

                <div class="dropdown-menu">
                    <a routerLink="/string-convert" routerLinkActive="active" type="button" class="dropdown-item">String Convert</a>
                    <!-- {path:'string-convert', component: TextStringFormComponent},
                    {path:'number-convert', component: NumberFormComponent} -->
                </div>
            </div><!-- END .btn-group -->

            <div class="btn-group">
                <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Number Convrsions
                </button>

                <div class="dropdown-menu">
                    <a routerLink="/number-convert" routerLinkActive="active" type="button" class="dropdown-item">Number Convert</a>

                </div>
            </div><!-- END .btn-group -->

        </div>
    </nav>
</div>
